<!DOCTYPE html>
<html>
    <head>
        <title>Get Family Physician</title>
    </head>
    <body>
        <h2>Personal Info</h2>
    </body>

    <form autocomplete="off">
        <label>First Name:</label>
        <input type="text" name="item" required/>
        
        <label>Middle Name:</label>
        <input type="text"/>

        <label>Last Name:</label>
        <input type="text" required/>

        <button type="submit">Add Item</button>
    </form>